In [1]:
# Importing required libraries
import numpy as np
import h5py
import cv2
import glob
import pandas as pd

In [2]:
# reading train csv file
df=pd.read_csv("train.csv")

In [3]:
df

       Image         target
0     96.jpg       manipuri
1    163.jpg  bharatanatyam
2    450.jpg         odissi
3    219.jpg      kathakali
4    455.jpg         odissi
..       ...            ...
359   72.jpg       manipuri
360  253.jpg   mohiniyattam
361  404.jpg      kuchipudi
362   89.jpg       manipuri
363  311.jpg   mohiniyattam

[364 rows x 2 columns]

In [4]:
# Reading all training images and stored in numpy array by reshaping image to (256,256,1) 
cv_img = []
for i in range(len(df)):
    a=df['Image'][i]
    img = cv2.imread("train/"+str(a),0)
    resized=cv2.resize(img,(256,256))
    cv_img.append(resized)
X=np.array(cv_img)

In [6]:
print("Train input data shape is :",X.shape)

Train input data shape is : (364, 256, 256)

In [7]:
# Creating output array for output class   
cv_label=[]
d={'manipuri':0,'bharatanatyam':1,'odissi':2,'kathakali':3,'kathak':4,'sattriya':5,'kuchipudi':6,'mohiniyattam':7}
for i in range(len(df)):
    a=df['target'][i]
    cv_label.append(d[a])
#print(cv_label)
Y=np.array(cv_label)

In [8]:
Y=Y.reshape((len(Y),1))
print("Train data output shape is :",Y.shape)

Train data output shape is : (364, 1)

In [9]:
# Storing Training (X,Y) in h5 format to use in google colob
with h5py.File("C:/Users/nagarjun/Identify dance form/Dance_train.h5","w") as hdf:
    hdf.create_dataset("X",data=X)
    hdf.create_dataset("Y",data=Y)

In [10]:
# Reading test data file 
df1=pd.read_csv("test.csv")

In [11]:
df1

       Image
0    508.jpg
1    246.jpg
2    473.jpg
3    485.jpg
4    128.jpg
..       ...
151  366.jpg
152  226.jpg
153   35.jpg
154  458.jpg
155  358.jpg

[156 rows x 1 columns]

In [12]:
# Reading all testing images and stored in numpy array by reshaping image to (256,256,1) 
cv_img = []
for i in range(len(df1)):
    img = cv2.imread("test/"+str(df1['Image'][i]),0)
    resized=cv2.resize(img,(256,256))
    cv_img.append(resized)
X1=np.array(cv_img)

In [13]:
print("Test data input shape :",X1.shape)

Test data input shape : (156, 256, 256)

In [14]:
# Storing testing (X) in h5 format to use in google colob
with h5py.File("C:/Users/nagarjun/Identify dance form/Dance_test.h5","w") as hdf:
    hdf.create_dataset("X",data=X1)

In [15]:
with h5py.File("Dance_test.h5","r") as hdf:
    data1=hdf.get('X')
    g=np.array(data1)